{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

        <H3>{{ mensaje }}</H3>

{% endblock %}

{% block javascripts %}
    <script>

        window.parent.postMessage({ finished: {{ error ? 'false' : 'true' }} }, "*" );
        window.parent.postMessage({ mensaje: "{{ mensaje }}" }, "*" );

    </script>
{% endblock %}