<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#            <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV3.js"></script>#}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
    <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV3.js"></script>
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
<!-- Listener -->
<script>
    let enlace  = document.getElementById('enlace');
    let order;
    let token;

    function validaciones() {
        //Insertar validaciones…
        console.log('Aqui se pueden realizar validaciones previas a la generación del token');
        return true;
    }

    window.addEventListener("message", function receiveMessage(event) {
        //se almacena en el input el token generado, o error en caso de que ocurra
        storeIdOper(event, "token", "errorCode", validaciones);
        token = document.getElementById('token').value;
        enlace.href = '/api/autorizacion/' + token + '/' + order + '/7895/iii';
        console.log('order: ')
        console.log( order );
        console.log('token: ');
        console.log( token );
    });

    function pedido() {

        //genero un numero en base a date unix único
        console.log('num_order: ');
        order = Math.floor(Date.now() / 1000);

        //como es tan estricto con el tema de los string hago la conversión
        return order.toString();
    }


    /*
    ('card-number', estiloCaja, placeholder, estiloInput);
    ('card-expiration', estilosCSS, placeholder);
    ('cvv', estilosCSS, placeholder);
    ('boton', estilosCSS, 'Texto botón pago', fuc, terminal, merchantOrder);
    fuc: código de comercio
    terminal: terminal
    */

    getCardInput('card-number', '', '', '');
    getExpirationInput('card-expiration', '', '');
    getCVVInput('cvv', '', '');
    getPayButton('boton', '', 'Texto botón pago', '999008881', '1', pedido());

</script>

</html>
