{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <form action="{{ acsURL }}" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="creq" value="{{ creq }}">
        </form>

    </div>
    <!-- /.container -->
{% endblock %}