{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <h3>API PROVIDER REDSYS LUMISOLAR/LUMISA INSITE</h3>

        <a href="{{ path('test_api') }}">test de tarjeta</a>
        <ul>
            {% for route in routes %}
                <li>{{ route }}</li>
            {% endfor %}
        </ul>

    </div>
    <!-- /.container -->
{% endblock %}
