{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block head %}
    <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV3.js"/>
{#    <script src="https://sis.redsys.es/sis/NC/redsysV3.js"></script>#}
{% endblock %}

{% block body %}

    <div class="cardinfo-card-number">
        <label class="cardinfo-label" for="card-number">Numero de tarjeta</label>
        <div class='input-wrapper' id="card-number"></div>
    </div>
    <div class="cardinfo-exp-date">
        <label class="cardinfo-label" for="card-expiration">Caducidad</label>
        <div class='input-wrapper' id="card-expiration"></div>
    </div>
    <div class="cardinfo-cvv">
        <label class="cardinfo-label" for="cvv">CVV</label>
        <div class='input-wrapper' id="cvv"></div>
    </div>

    <input type="hidden" id="token"></input>
    <input type="hidden" id="errorCode"></input>

    <div id="boton"></div>


    <a href="javascript:alert('token: ' + token + ' error: ' + document.getElementById('errorCode').value)"> ver Token</a>
    <button id="iniciar">Inicar Peticion</button><br>
    <button id="tratar">tratar Peticion</button><br>


    <H1>Challenge version 2</H1>
    <form id="frmChallenge" method="POST" enctype="application/x-www-form-urlencoded">
        <input id="creq" type="hidden" name="creq">
    </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('test') }}
{% endblock %}