{% extends 'base.html.twig' %}

{% block title %}Notificacion{% endblock %}

{% block body %}
<div class="container">

    <h1>Se ha completado transaccion con numero de orden {{ orden }}:</h1><br>

    <h2>con el siguiente resultado</h2><br>

    {% if authorized %}

        <h3>Se ha realizado el pago</h3>

    {% else %}

        {{ dump( error ) }}

    {% endif %}

</div>
<!-- /.container -->
{% endblock %}